.src-div{
    display: flex;
    flex-direction: row;
}

.txt{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.input-search{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 40px;
    background: #EDF2FB;
    border:none;
}

.src-button{
    width: 100px;
    height: 24px;
    margin-left: 0px;
    margin-top: 40px;
    background: #ABC4FF;
    border: none;
    cursor: pointer;
}

.diagnostic-div{
    width:1536px;
    height: 162px;
    margin-left: 0px;
    margin-top: 50px;
    background: #E2EAFC;
    display: flex;
    flex-direction: row;
}

.icon{
    width: 80px;
    height: 80px;
    margin-left: 45px;
    margin-top: 40px;
}

.date{
    display: flex;
    flex-direction: column;
}

.full-name-prp{
    width: 171px;
    height: 24px;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
}



.date-of-birth{
    width: 171px;
    height: 24px;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
}

.ph-number{
    width: 171px;
    height: 24px;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
}

.treatment-search{
    width: 525px;
    height: 124px;
    margin-left: 60px;
    margin-top: 40px;
    background: #EDF2FB;
    border:none;
}

.sv-btn{
    width: 150px;
    height: 40px;
    margin-top:50px;
    margin-left: 1264px;
    background: #CCDBFD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
}

.Row{
    display: flex;
    flex-direction: row;
}

.vital-signs-prop{
    width: 171px;
    height: 24px;
    margin-left: 150px;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
}

.src-err{
    display: flex;
    flex-direction: row;
}

.err-message-identity-no{
    font-style: normal;
    color:red;
    margin-left:40px;
    margin-top:40px;
    font-size:15px;
    white-space:nowrap;
}

.no-er-message-identity-no{
    font-style: normal;
    margin-left:40px;
    margin-top:40px;
    font-size:15px;
    white-space:nowrap;
    width: 45px;
    height: 32px;
}

.save-err{
    display: flex;
    flex-direction: column;
}

.err-message-save{
    margin-bottom: 0px;
    margin-left: 1300px;
    font-style: normal;
    color:red;
    font-size:15px;
    white-space:nowrap;
}

.no-er-message-save{
    margin-bottom: 0px;
    margin-left: 1000px;
    font-style: normal;
    font-size:15px;
    white-space:nowrap;
    width: 45px;
    height: 32px;
}

