.personal-details{
    width: 184px;
    height: 33px;
    margin-left: 47px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: black;
    white-space: nowrap;

}

.line{
    width: 1500px;
    height: 0px;
    margin-left: 8px;
    margin-top: 0px;
    border-color: rgba(128, 128, 128, 0.49);
    border-width: thin;
    border-style: solid;
    transform: rotate(-0.12deg);
}

.h3-firstname{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.firstname-div{
    display: flex;
    flex-direction: row;
}

.firstname-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.identity-no{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.identityno-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.lastname-div{
    display: flex;
    flex-direction: row;
}

.h3-lastname{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.lastname-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.occupation{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.occupation-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.dateofbirth-div{
    display: flex;
    flex-direction: row;
}

.dateofbirth{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.dateofbirth-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.gender{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.gender-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.maritalstatus-div{
    display: flex;
    flex-direction: row;
}

.maritalstatus{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.maritalstatus-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.nationality{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.nationality-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.religion-div{
    display: flex;
    flex-direction: row;
}

.religion{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.religion-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.email{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.email-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.home-address{
    width: 184px;
    height: 33px;
    margin-left: 47px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: black;
}

.city-div{
    display: flex;
    flex-direction: row;
}

.city{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.city-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.district{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.district-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.address-div{
    display: flex;
    flex-direction: row;
}

.address{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.address-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.phone-number{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.phone-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.postalcode-div{
    display: flex;
    flex-direction: row;
}

.postal-code{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.postalcode-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.save-button{
    width: 150px;
    height: 40px;
    margin-left: 1300px;
    margin-top: 0px;
    background: #CCDBFD;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.doctor-div{
    display: flex;
    flex-direction: row;
}

.h3-doctor{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.doctor-input{
    width: 215px;
    height: 24px;
    margin-left: 10px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.footer{
    display: flex;
    flex-direction: column;
}

.error-message{
    font-style: normal;
    color:red;
    margin-left:1330px;
    margin-top:0px;
    font-size:15px;
    white-space:nowrap;
}

.no-error-message{
    font-style: normal;
    margin-left:1330px;
    margin-top:0px;
    font-size:15px;
    white-space:nowrap;
    width: 45px;
    height: 32px;
}

