.changePassword-div{
    width: 400px;
    height: 500px;
    margin-left: 550px;
    margin-top: 100px;
    background: #EDF2FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.changePassword-h2{
    width: 141px;
    height: 24px;
    padding-top: 20px;
    margin-left:60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    white-space:nowrap;
}

.photo{
    width: 60px;
    height: 60px;
    margin-left: 170px;
    margin-top:50px;
}

.changePassword-input{
    width: 200px;
    height: 24px;
    margin-left: 60px;
    padding-top:5px;
    background: #E2EAFC;
    border:none;
}

.changePassword-btn{
    width: 150px;
    height: 35px;
    margin-left: 120px;
    margin-top:150px;
    background: #CCDBFD;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}