.table-content{
    display: flex;
    flex-direction: row;
    background-color: #E2EAFC;
    width: 1087px;
    height: 35px;
    margin-left: 60px;
    margin-top: 20px;
    background: #D7E3FC;
}

.test-name{
    width: 14px;
    height: 26px;
    margin-left: 64px;
    margin-top: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    white-space: nowrap;
}

.results{
    width: 14px;
    height: 26px;
    margin-left: 250px;
    margin-top: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    white-space: nowrap;
}

.units{
    width: 14px;
    height: 26px;
    margin-left: 250px;
    margin-top: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    white-space: nowrap;
}

.reference-range{
    width: 14px;
    height: 26px;
    margin-left: 250px;
    margin-top: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    white-space: nowrap;
}
