.login{
    background-image: url("C:\Users\nisto\Facultate\An3 sem 2\II\Proiect\medical-app\src\images\login-page\doctors-day.jpg");
    width:1536px;
    height: 745px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
} 

.login-container{
    width: 400px;
    height: 490px;
    margin-left: 144px;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    
} 

h2{
    width: 265px;
    height: 23px;
    margin-left: 70px;
    margin-top: 39px;
    font-family: 'Nobile';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #5A5A5A;
}

.username-text{
    width: 126px;
    height: 29px;
    margin-left: 30px;
    margin-top: 40px;
    font-family: 'Nobile';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.username{
    display:flex;
    flex-direction: row;
}

.username-image{
    width: 26px;
    height: 26px;
    margin-left: 40px;
    margin-top: 0px;
}

.username-input{
    width: 250px;
    height: 26px;
    margin-left: 20px;
    margin-top: 0px;
    background: #F5F3F3;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.password{
    display: flex;
    flex-direction: row;
}

.password-image{
    width: 26px;
    height: 26px;
    margin-left: 40px;
    margin-top: 0px;
}

.password-input{
    width: 250px;
    height: 26px;
    margin-left: 20px;
    margin-top: 0px;
    background: #F5F3F3;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.password-text{
    width: 126px;
    height: 29px;
    margin-left: 30px;
    margin-top: 40px;
    font-family: 'Nobile';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.login-button{
    width: 160px;
    height: 30px;
    margin-left: 120px;
    margin-top: 20px;
    background: rgba(0, 153, 204, 0.84);
    border:0;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
}

.role{
    display: flex;
    flex-direction: column;
}

.container-doctor{
    margin-top: 30px;
    margin-left:40px;
}

.container-nurse{
    margin-left: 40px;
}
.container-admin{
    margin-top:0;
    margin-left: 40px;
    margin-bottom: 20px;
}
.checkmark{
    font-family: 'Nobile';
    font-style: normal;
}

.err-message{
    font-style: normal;
    color:red;
    margin-left:40px;
    margin-top:0px;
    font-size:15px;
    white-space:nowrap;
}

.no-err-message{
    font-style: normal;
    margin-left:40px;
    margin-top:0px;
    font-size:15px;
    white-space:nowrap;
    width: 45px;
    height: 32px;
}