.vital-signs{
    width: 184px;
    height: 33px;
    margin-left: 47px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: black;
}

.vitalsigns-line{
    width: 1500px;
    height: 0px;
    margin-left: 8px;
    margin-top: 0px;
    border-color: rgba(128, 128, 128, 0.49);
    border-width: thin;
    border-style: solid;
    transform: rotate(-0.12deg);
}

.identity-no-div{
    display: flex;
    flex-direction: row;
}

.identityno-txt{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.identityno-input-signs{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 40px;
    background: #EDF2FB;
    border:none;
}

.h3-weight{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.weight-div{
    display: flex;
    flex-direction: row;
}

.weight-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.temperature{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.temperature-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.respiratory-div{
    display: flex;
    flex-direction: row;
}

.h3-respiratory{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.respiratory-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.bloodpresure{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
}

.bloodpresure-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.blood-div{
    display: flex;
    flex-direction: row;
}

.h3-blood{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.bloodsugar-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.h3-height{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
}

.height-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.heartrate-div{
    display: flex;
    flex-direction: row;
}

.heartrate-h3{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
}

.heartrate-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 5px;
    background: #EDF2FB;
    border:none;
}

.allergies-line{
    width: 1500px;
    height: 0px;
    margin-left: 8px;
    margin-top: 0px;
    border-color: rgba(128, 128, 128, 0.49);
    border-width: thin;
    border-style: solid;
    transform: rotate(-0.12deg);
}

 .allergies-div{
    display: flex;
    flex-direction: row;
}

.allergies{
    width: 184px;
    height: 33px;
    margin-left: 47px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: black;
}

.h3-allergies{
    width: 94px;
    height: 24px;
    margin-left: 80px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.allergies-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.h3-allergen{
    width: 94px;
    height: 24px;
    margin-left: 400px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}

.allergen-input{
    width: 215px;
    height: 24px;
    margin-left: 60px;
    margin-top: 30px;
    background: #EDF2FB;
    border:none;
}

.save-button-vitalsign{
    width: 150px;
    height: 40px;
    margin-left: 1300px;
    margin-top: 0px;
    background: #CCDBFD;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.footer-vital{
    display: flex;
    flex-direction: column;
    margin-top:50px;
}

.error-message{
    
    font-style: normal;
    color:red;
    margin-left:1330px;
    margin-top:0px;
    font-size:15px;
    white-space:nowrap;
}

.no-error-message{
    font-style: normal;
    margin-left:1330px;
    margin-top:0px;
    font-size:15px;
    white-space:nowrap;
    width: 45px;
    height: 32px;
}
